# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
web-backend/node_modules
web-backend/.env
app-frontend/node_modules

# Builds
dist
dist-ssr
app-frontend/dist
app-frontend/build

# Environment variables

*.local

# Uploads / temp
uploads/
tmp/

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?